In [ ]:
Name="Sairushi"
Surname="Gadakh"
print(Name+" "+Surname)

Sairushi Gadakh

In [ ]:
a=2.3
print (type(a))
int(a)   #covert to integer

<class 'float'>

2

In [ ]:
b=312
print(type(b))
float(b)  #convert to float

<class 'int'>

312.0

In [ ]:
c=3j
print(type(c))
int(c)  #convert to integer

<class 'complex'>

TypeError: ignored

In [ ]:
complex(a)  #convert to complex

(2.3+0j)

In [ ]:
complex(b)  #convert to complex

(312+0j)

In [ ]:
complex(a,b)

(2.3+312j)

In [ ]:
Name="Sairushi Nanasaheb Gadakh"
Age="20"
Class="TYBSc"
College="S P College"
myself="My name is {} , I'm {} years old and I am student of {} studying in {}"
print(myself.format(Name,Age,Class,College))

My name is Sairushi Nanasaheb Gadakh , I'm 20 years old and I am student of TYBSc studying in S P College

In [ ]:
Name="Sairushi Nanasaheb Gadakh"
Age="20"
Class="TYBSc"
College="S P College"
myself="My name is {a} , I'm {b} years old and I am student of {c} studying in {d}."
print(myself.format(a=Name,c=Class,b=Age,d=College))

My name is Sairushi Nanasaheb Gadakh , I'm 20 years old and I am student of TYBSc studying in S P College.